{% extends "layout.html" %}
{% load static from staticfiles %}
{% block title_tag %}
Customer Detail
{% endblock %}

{% block body_content %}
<div>
	<ul>
		<li>First Name: {{customer.first_name}}</li>
		<li>Last Name: {{customer.last_name}}</li>
		<li>Email: {{customer.email}}</li>
		<li>Phone: {{customer.phone}}</li>
		<li>Business Name: {{customer.business_name}}</li>
		<li>Address: {{customer.address_line_1}}</li>
		<li>City: {{customer.address_city}}</li>
		<li>State: {{customer.address_state}}</li>
		<li>Zipcode: {{customer.address_zipcode}}</li>
	</ul>
	
</div>

{% endblock %}